<?xml version="1.0" encoding="UTF-8"?>
<!--
     Copyright (C) 2009 Misys plc, Sysnet International, Medem and others

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied. See the License for the specific language governing
     permissions and limitations under the License.


-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd       
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
		
   
    <bean id="registryQueryService" class="org.openhealthtools.openxds.registry.adapter.omar31.XdsRegistryQueryServiceImpl"/>
    

    <bean id="registryLifeCycleService" class="org.openhealthtools.openxds.registry.adapter.omar31.XdsRegistryLifeCycleServiceImpl">
    	<property name="mergePatientDao" ref="mergePatientDao" />
    </bean>

    <bean id="registryPatientService" class="org.openhealthtools.openxds.registry.patient.XdsRegistryPatientServiceImpl"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:mail.properties</value>
                <value>classpath:openxds.properties</value>
            </list>
        </property>
    </bean>
    
     <bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url"
			value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>       
    
    <bean id="hibernateTemplate"
      class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  
  <tx:annotation-driven/>
  
    <bean id="repositoryManagerTransaction" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
            <property name="transactionManager" ref="transactionManager" />
            <property name="target" ref="repositoryService" />
            <property name="transactionAttributeSource">
               <bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
            </property>
  </bean>
  
  <bean id="registryManagerTransaction"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="registryLifeCycleService" />
		<property name="transactionAttributeSource">
			<bean
				class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
		</property>
  </bean>
  
  	
  	 <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name="dataSource" ref="dataSource" />
     <property name="mappingResources">
        <list>
           <value>repository.hbm.xml</value>
           <value>externalidentifier.hbm.xml</value>
        </list>
     </property>
     <property name="hibernateProperties">
        <props>
           <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
		   <prop key="hibernate.show_sql">false</prop>
        </props>
     </property>
  </bean>  
  	
   <bean id="repositoryManagerDao" class="org.openhealthtools.openxds.repository.dao.XdsRepositoryManagerDaoImpl">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
    
  <bean id="repositoryService" class="org.openhealthtools.openxds.repository.relationaldb.RelationalDBRepositoryServiceImpl">
    <property name="repositoryUniqueId" value="1.3.6.1.4.1.21367.2009.1.2.701"/>
    <property name="xdsRepositoryManagerDao" ref="repositoryManagerDao" />    
  </bean>
  
  <!--bean id="repositoryService" class="org.openhealthtools.openxds.repository.FileSystemRepositoryServiceImpl">
		<property name="repositoryUniqueId" value="1.3.6.1.4.1.21367.2009.1.2.701"/>
		
		<repositoryRoot is required by FileSystemRepository>
   	    <property name="repositoryRoot" value="C:/OpenXDS/repository" />
    </bean-->

    <bean id="repositoryItem" scope="prototype" class="org.openhealthtools.openxds.repository.XdsRepositoryItemImpl"/>

	<bean id="mergePatientDao"
		class="org.openhealthtools.openxds.registry.dao.MergePatientDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
   
</beans>    
